* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    width: 100%;
}

/*MainHeader*/
.mainheader {
    width: 100%;
    height: 28px;
    font-size: 80%;
    background-color: black;
    color: white;
  }


.container {   
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
    height: 108px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.mainheadermc {
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    margin-top: 7px;
}
.login {
    margin-left: 870px;
}
.mainhelp {
    margin-left: 20px;
}
.mainheadermc :hover {
    color: #abff93;
    opacity: 1;
    cursor: pointer;
}
/*Header*/
.header {
    width: 100%;
    height: 80px;
    background-image: url("../Images/bg.png");
    position: sticky;
    top:0px;
    z-index: 20;
}
.mcdungeonsimg {
    display: flex;
    justify-content: center;
    height: 80px;
    position: sticky;
}

/*dungeons(video)*/
.dungeons {
    width: 100%;
    height: 520px;
    background-image: url("../Images/mainpicture.jpg");
    
    
    
}
.dungeonscss {
    height: 520px;   
    margin: 0 111px;
    padding:64px 0;
}
.containers{  
    padding-top: 40px;
    height: 300px;
    justify-content: center;
}
.dungeonh1 {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}
.h2 {
    color: rgb(182, 182, 25);
    font-size: 95%;
 
}
.h1 {
    font-size: 300%;
}
.dungeonh1 p {
    font-size: 83%;
    font-weight: bold;
}

/*Topcontent*/
.topcontent {
    background-image: url("../Images/bg.png");
}
.maincontent {  
    width: 1110px;
    max-width: 100%;
    height: 3083px;
    padding: 64px 0;
    margin: 0 auto;
}
.container2 {
    height: 3083px;
    padding: 0 15px;
}
h3 {
    color: white;
    font-size: 210%;
    margin-bottom: 15px;   
    margin-top: 0;
}
.ultimate {
    width: 1100px;
    max-width: 100%;
    height: 500px;
    margin-bottom: 80px;
    background-color: rgb(56, 56, 56);
    color: white;
}
.standard {
    padding: 24px ;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.standardInner{
    grid-column: span 3 / span 3;
}
.mcimg  {
   width: 340px;
   max-width: 100%;
   margin-top: 77px;
    margin-left: 20px;
    grid-column: span 2 / span 2;
}
.mcimg img {
    width: 100%;
    height: auto;
}
.standard2 {
    font-size: 150%;
    display: flex;
    justify-content: space-between;
}
h4 {
    margin: 0;
    margin-top: 15px;
}

.h4standard {
  color: grey;
}
.h4standard:hover {
    color: white;
}
.ultimatetext {   
    font-size: 115%;
    margin-top: 90px;
    margin-right: 20px;
}
.windows  {
    font-size: 110%;
}
.ul {
    font-size: 110%;
    list-style: none;
    padding-left: 8px;
    margin: 20px 0px 0px 8px; 
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
li::before {
    content: "• ";
    color: green;
    margin-right: 15px;
  }
.addultimate{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(60, 114, 5);
}
.addultimatetext {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    height: 40px;
    padding-top: 1px;
    cursor: pointer;
    word-break: break-all;
}
.addultimatetext p {
    word-break: break-all;
}
.addultimate:hover {
    background-color: rgb(56, 56, 56);
    opacity: 0.1;
}
/*Passone*/
.adventurepass {  
    width: 1100px;
    max-width: 100%;
    height: 520px;
}
.passone {
    width: 100%;
    background-color: rgb(56, 56, 56);
    height: 375px;
    padding: 16px 15px;
    margin: 0 auto;
    display: flex;
    
}
.passonetext {
    color: white;
    padding: 0 30px;
    word-break: break-all;
}
h5 {
    margin: 0;
    font-size: 200%;
}
.passonetext p {
    font-size: 112%;
}
.passonecart {
    width: 100%;
    height: 210px; 
}
.passoneprice {
    max-width: 100%;
    height: 198px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}
.passoneadd {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-right: 30px;
}
.passonepriceone {
    padding-top: 8px;
}
.passonecartadd {
    background-color: rgb(65, 126, 5);
    padding: 8px;
}
.passonecartadd:hover {
    background-color: rgb(56, 56, 56);;
}
/*DLCS*/
.DLCS {
    width:1100px;
    max-width: 100%;
    height: 452px;
}
.BUNDLES { width: 100%;
    background-color: rgb(56, 56, 56);
    height: 375px;
    padding: 16px 15px;
    margin: 0 auto;
    display: flex;
}
.ultimatedlc {   
    color: white;
    padding: 0 30px;
}
.ultimatedlc p {
    font-size: 98%;
}
.bundleincludes {
    margin-top: 40px;
}
.bundleincludes p {
    font-weight: bold;
}
.DLCSul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0;
    font-size: 105%;
}


@media (max-width: 770px) {
    #header {
    max-width: 100%; 
    max-height: 100px;
     }
}